/*
This file contains the colors used by my favorite graphics company (US Graphics Company -- USGC). 

See usgraphics.com -- Unfortunately I can't afford their fonts, but they are also very nice. 

BLACK AND WHITE ARE DEFINED IN THE MAIN STYLE SHEET
*/
:root{
    /* USGC BEIGE */
    --usgc-beige: #f8eac7;
    /* Primary Palette */
    --usgc-red: #ed1c24;
    --usgc-green: #00a651;
    --usgc-blue: #2e3192;
    --usgc-cyan: #00aeef;
    --usgc-yellow: #fff200;
    --usgc-magenta: #ec008c;
    /* Secondary Palette */ 
    --usc-lime: #658d3c;
    --usgc-green-2: #007a61;
    --usgc-blue-2: #184898;
    --usgc-purple: #613393;
    --usgc-magenta-2: #a42067;
    --usgc-red-2: #c22032;
    --usgc-orange: #bc4c27;
    --usgc-light-yellow: #fff5b1;
    --usgc-light-blue: #c9e5ff;
    --usgc-light-pink: #fcd4f2;
    /* Gray Palette */
    --usgc-gray-1: #e6e7e8;
    --usgc-gray-2: #d1d3d4;
    --usgc-gray-3: #bcbec0;
    --usgc-gray-4: #a7a9ac;
    --usgc-gray-5: #939598;
    --usgc-gray-6: #808285;
    --usgc-gray-7: #6d6e71;
    --usgc-gray-8: #58595b;
    --usgc-gray-9: #414042;
    --usgc-gray-10: #231f20;


    /* Implied Palette -- Stripped from website */
    --usgc-imp-brown: #834333;
    --usgc-imp-dark-red: #e7040f;
    --usgc-imp-red: #ff4136;
    --usgc-imp-orange: #e25600;
    --usgc-imp-gold: #ffb700;
    --usgc-imp-yellow: gold; 
    --usgc-imp-purple: #7643b9;
    --usgc-imp-magents: #cc2197;
    --usgc-imp-hot-pink: #ff41b4;
    --usgc-imp-pink: #ff80cc;
    --usgc-imp-dakr-green: #00794c;
    --usgc-imp-green: #00a96c;
    --usgc-imp-lime-green: #527300;
    --usgc-imp-teal: #008374;
    --usgc-imp-navy: #001b44;
    --usgc-imp-dark-blue: #00449e;
    --usgc-imp-dark-cyan: #008181;
    --usgc-imp-blue: #005eec;
    --usgc-imp-cyan: #00e4e4;
    --usgc-imp-beige: #e1ca94;
    --usgc-imp-dark-beige: #634936;
    /* Implied: Washed */ 
    --usgc-imp-washed-blue: #f6fffe;
    --usgc-imp-washed-green: #e8fdf5;
    --usgc-imp-washed-yellow: #fffceb;
    --usgc-imp-washed-red: #ffdfdf;
    /* Implied: Neon */
    --usgc-imp-neon-red: #ff0037;
    --usgc-imp-neon-orange: #ff4a03;
    --usgc-imp-neon-yellow: #ffc543;
    --usgc-imp-neon-lime-green: #88ce00;
    --usgc-imp-neon-green: #00c986;
    --usgc-imp-neon-blue: #0092ff;
    --usgc-imp-neon-dark-blue: #26f;
    --usgc-imp-neon-purple: #8969ff;
    --usgc-imp-neon-magenta: #e036b1;
    /* Implied: Light */
    --usgc-imp-light-purple: #e4d3ff;
    --usgc-imp-light-pink: #fcd4f2;
    --usgc-imp-light-blue: #c9e5ff; 
    --usgc-imp-light-red: #ffbebe;
    --usgc-imp-light-orange: #ffd7be;
    --usgc-imp-light-yellow: #fff5b1;
    --usgc-imp-light-cyan: #a0f2f5; 
    --usgc-imp-light-green: #d3ffb9;
    --usgc-imp-light-lime: #d3ffb9;
    --usgc-imp-light-beige: #beige;
    
    /* Implied: Main */ 
    --usgc-imp-us-blue: #003f9b;
    --usgc-imp-us-red: #ad0000;

}